h1{
    margin: auto;
    margin-bottom: 40px;
}

#pageWrapper{
    z-index: -1;
}

#calcBack{
    display: grid;
    grid-template-columns: 105px 105px 105px 105px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    justify-content: space-evenly;
    background-color:grey;
    height:600px;
    width: 450px;
    margin: auto;
    border: 1px solid black;
    z-index: 1;
}

button{
    height: 75px;
    width: 75px;
    border:1px solid rgba(0, 0, 0, 0.8);
}

button#equall{
    width: 180px;
    grid-column: 3/5;
}

button#zero{
    grid-column: 2 / 3;
}

button.operand {
    background-color: red ;
}

button.misc{
    background-color: steelblue;
}

button.operator{
    background-color: orange;
}

#display{
    grid-column: 1 / 5;
    height: 75px;
    width: 425px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: honeydew;
}

